body.light {
  background: #f3f4f6;
  color: black;
}

.card {
  background: #1f2937;
  padding: 16px;
  border-radius: 16px;
}

.btn {
  background: linear-gradient(to right, #9333ea, #3b82f6);
  padding: 8px 16px;
  border-radius: 12px;
}

.btn-blue {
  background: #3b82f6;
  padding: 10px;
  width: 100%;
  border-radius: 12px;
}

.btn-green {
  background: #22c55e;
  padding: 10px;
  width: 100%;
  border-radius: 12px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ref-box {
  background: #374151;
  padding: 8px;
  border-radius: 10px;
  margin: 10px 0;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background: #111827;
  padding: 10px;
}

.bottom-nav button {
  color: gray;
}

.bottom-nav .active {
  color: #a855f7;
}

.icon-btn {
  background: #1f2937;
  padding: 8px;
  border-radius: 10px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #22c55e;
  padding: 10px 20px;
  border-radius: 10px;
}